a {
  b: hsl(120, 50%, 50%);
  c: hsla(120, 50%, 50%, 0.5);
  d: hsl(10.5, 33.333%, 20%);
  e: #339933;
  f: rgba(64, 191, 64, 0.4);
  g: hsl(40, 100%, 0%);
  h: hsla(120, 50%, 50%, 0.5);
  i: hsl(0, 0%, 50%);
}