a {
  b: #ABC;
  c: RED;
  d: transparent;
  e: rgba(170, 187, 204, 0.8666666667);
  f: rgba(170, 187, 204, 0.8666666667);
  g: #ff0000;
  h: rebeccapurple;
  i: rgba(255, 0, 0, 0.5);
  j: #fff;
  k: #FFFFFF;
  l: black;
  m: rgba(0, 0, 0, 0);
}