a {
  b: hsl(120, 50%, 50%);
  c: hsla(120deg, 50%, 50%, .5);
  d: hsl(10.5, 33.333%, 20%);
  e: darken(hsl(120, 50%, 50%), 10%);
  f: rgba(hsl(120, 50%, 50%), .4);
  g: hsl(400, 120%, -5%);
  h: hsl(120 50% 50% / .5);
  i: hsl(0, 0%, 50%);
}
