:host {
  display: block;
}
:host.escuro {
  color: #fff;
}
:host {
  background: #fff;
}
:host .filho {
  a: b;
}
:host {
  margin: 0;
}
:host.escuro {
  color: #000;
}
:host {
  background: #000;
}

:host.acx-theme-dark {
  color: #fff;
}