a {
  b: rgb(15%, 30%, 45%);
  c: rgb(36.25%, 57.5%, 78.75%);
  d: rgb(12%, 40%, 68%);
  e: rgb(28%, 40%, 52%);
  f: rgb(30%, 20%, 60%);
  g: rgb(49.1666666667%, 59.3333333333%, 69.5%);
  h: #343434;
  i: #563412;
  j: black;
  k: rgba(25%, 50%, 75%, 0.3);
}