a {
  b: hsl(120, 50%, 50%);
  c: hsla(120, 50%, 50%, 0.5);
  d: hsl(10.5, 33.333%, 20%);
  e: hsl(120, 50%, 40%);
  f: rgba(25%, 75%, 25%, 0.4);
  g: hsl(40, 120%, -5%);
  h: hsla(120, 50%, 50%, 0.5);
  i: hsl(0, 0%, 50%);
}