a {
  b: rgba(18, 52, 86, 0.5);
  c: rgba(17, 34, 51, var(--x));
  d: rgba(51, 102, 153, 0.75);
  e: rgba(0, 0, 0, 0.3);
  f: rgba(255, 0, 0, 0);
  g: rgba(0, 0, 0, 0.87);
  h: white;
  i: 0.3;
  j: opacity(0.5);
  k: rgba(var(--c), 0.5);
}