a {
  b: rgb(4.0784313725%, 8.0784313725%, 11.9607843137%);
  c: rgb(50%, 10%, 0%);
  d: rgb(255, 0, 0);
  e: rgb(1, 2, 3);
  f: rgba(1, 2, 3, 0);
  g: rgba(1, 2, 3, 0.5);
  h: rgb(255, 255, 255);
  i: rgb(0, 0, 0);
}